@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *:after, *:before {
    box-sizing: border-box;

}

:root {
    --c-theme-primary: #008FFD;
    --c-theme-primary-accent: #CBE8FF;
    --c-bg-primary: #D6DAE0;
    --c-bg-secondary: #EAEBEC;
    --c-bg-tertiary: #FDFDFD;
    --c-text-primary: #1F1F25;
    --c-text-secondary: #999FA6;

}


body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-bg-primary);
    color: var(--c-text-primary);
}

button {
    font: inherit;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.datepicker {
    width: 95%;
    max-width: 350px;
    background-color: var(--c-bg-tertiary);
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2) 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
}


.datepicker-top {
    margin-bottom: 1rem;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.tag {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border: 0;
    background-color: var(--c-bg-secondary);
    border-radius: 10px;
    padding: 0.5em 0.75em;
    font-weight: 600;
}

.month-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #fff;
    border-radius: 12px;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25)0 0 10px 0 rgba(0, 0, 0, 0.15)
}   


.month-name {
    font-weight: 600;

}

.datepicker-calender {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-row-gap: 1rem;
}

.day, date {
    justify-self: center;
}

.day {
    color: var(--c-text-secondary);
    font-size: 0.875em;
    font-weight: 500;
    justify-self: center;
}

.date {
    border: 0;
    padding: 0;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 600;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
}

.date:focus {
    outline: 0;
    color: var(--c-theme-primary);
    border: 2px solid var(--c-theme-primary-accent);
}

.fade {
    color: var(--c-text-secondary);
}

.current-day {
    background-color: var(--c-theme-primary);
    color: #fff;
    border: 2px solid var(--c-theme-primary);

}

current-day:focus {
    background-color: var(--c-theme-primary-accentt);
}
